@using LModels
@model IEnumerable<RegistrationCourse>

<h2>Course Registrations</h2>
@*Show temptData Error*@
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>User</th>
            <th>Phone</th>
            <th>Registration Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course?.CourseName</td>
                <td>@item.User?.Name</td>
                <td>@item.User?.Phone</td>
                <td>@item.RegistrationDate.ToShortDateString()</td>
                <td>@item.Status</td>
                <td>
                    @if (item.Status == "Accepted")
                    {
                        <button class="btn btn-success" disabled>
                            <i class="bi bi-check-circle-fill"></i> Accepted
                        </button>
                        <button class="btn btn-danger" disabled>
                            <i class="bi bi-x-circle-fill"></i> Rejected
                        </button>
                    }
                    else
                    {
                        <form asp-area="Admin" asp-controller="RegistrationCourse" asp-action="AcceptRegistration" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.RegistrationCourseID" />
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-check-circle-fill"></i> Accept
                            </button>
                        </form>

                        <form asp-area="Admin" asp-controller="RegistrationCourse" asp-action="RejectRegistration" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.RegistrationCourseID" />
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-x-circle-fill"></i> Reject
                            </button>
                        </form>
                    }
                    <a class="btn btn-danger" asp-area="Admin" asp-route-id="@item.RegistrationCourseID" asp-action="Delete">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>